@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@media (max-width: 768px) {
  .home {
    background: none;
  }
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
    padding-top: 80px;
  }
  .home {
    width: 100%;
    max-width: 1300.5px;
    height: 700px;
    display: flex;
    background: url('https://res.cloudinary.com/djdyufvvy/image/upload/v1726649190/ELESA_home_wnie8h.jpg') no-repeat center center/cover;
    /* background-color: radial-gradient(ellipse at center, #0C1C26 0%,#050A13 100%);; */
    /* filter: brightness(0.4); */
    border-radius: 20px;
    position: relative;
  }
  .home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(0.4); /* Dim the background here */
    z-index: 1; /* Keep it behind the text */
    border-radius: 20px;
}
  .home .glass-effect .same{
    z-index: 96;
    filter: brightness(1);
  }
  .glass-effect {
    width: 1300.5px;
    height: 700px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 20px; 
    border: 1px solid rgba(255, 255, 255, 0.784); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color:white;
  }
  .glass-effect h1, .glass-effect h2 {
    font-size: 50px;
    color: #FFFEFE; 
    background: transparent;
    z-index: 2; 
    filter: none;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
    z-index: 3;
}
@media(max-width : 768px){
  .home{
    background: none;
  }
  .glass-effect{
    background: none;
    border: none;
    color: white;
  }
  .glass-effect h1{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 25% }
  }

  .glass-effect .h21{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typs 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typs {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
}